<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabulary words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center word">{{ word }}</div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell <span class="target">{{session.target_count}}</span> word(s) from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
<!--    <input type="submit" name="try" />-->
  </form>
</div></div>

<br />

<p id="results"></p>

<p id="errors" style="color:red"></p>

<p id="bad-letters" style="color:red"></p>

 </div> <!-- container -->

<script>
// Suppress normal form submission
// Find me the HTML element that has the ID "entry", so
// when this form is submitted don't refresh the entire page
$("#entry").submit( function(event) {
   event.preventDefault();
  });

$("#attempt").keyup(function(event) {
    var txt = $("#attempt").val();  // Current content of the input field
    var keycode = event.which;      // They key that just went up
    var letter = String.fromCharCode(keycode);
<!--  console.log(">>>", txt, keycode, letter);-->

    // That letter might not be a letter ... it could be the
    // the backspace key, or even the shift key, because 'keyup'
    // catches all kinds of keys.  (Also, the difference between
    // upper and lower case comes from state of shift key + key code,
    // so ignoring the shift key we get only the upper case letters.

    if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

    //make an HTTP request to /_check
    //# for id . for class
    $.getJSON( "/_check", { text: txt },
        function(data) {
            if (data.been_guessed) {
                var result_array = data.result;
                console.log("This is data.result:", data.result);
                $("#errors").html("<span style='font-size:24px;'>Already guessed: </span><br>"
                      + txt).fadeIn().fadeOut(3000);
                $("#attempt").val("");
            }
            if (data.is_match) {
                $("#results").html("<span style='font-size:24px;'>You found </span><br>"
                    + data.result.join(" "))
                $("#attempt").val("")
                $(".target").html(data.target_ct)
            }
            $(".word").each( function(index) {
                var w = $(this).text();
                $(this).html(w)
                if (data.partial_list.includes(w)) {
                    $(this).html("<span style='background:yellowgreen'>" +
                            txt + "</span>" + w.substring(txt.length))
                }
                if (data.match_list.includes(w)) {
                    $(this).html("<span style='background:white;color:#8080806e'>" + w + "</span>")
                }

            })
            if (!data.ok_letter) {
                $("#attempt").val("")
                var letter = txt.slice(-1)
                $("#bad-letters").html(letter + " is not an option").fadeIn().fadeOut(2500)
            }
            rsval = data.completed;
            console.log("rsval: " + rsval)
            if (rsval) {
                console.log("Time to go to success page!");
                window.location="/success"
            }
        }
    );
});


</script>

</body> </html>
